<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.league.home.title">Leagues</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-league" [routerLink]="['/league/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.league.home.createLabel">
            Create a new League
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="leagues?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.league.home.notFound">No leagues found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="leagues && leagues.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.league.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.league.sport">Sport</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.league.region">Region</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let league of leagues ;trackBy: trackId">
                    <td><a [routerLink]="['/league', league.id, 'view']">{{ league.id }}</a></td>
                    <td>{{ league.name }}</td>
                    <td>
                        <div *ngIf="league.sportId">
                            <a [routerLink]="['/sport', league.sportId , 'view']" >{{ league.sportId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="league.regionId">
                            <a [routerLink]="['/region', league.regionId , 'view']" >{{ league.regionId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/league', league.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/league', league.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(league)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
