<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-team-heading" jhiTranslate="jhipsterSampleApplicationApp.team.home.createOrEditLabel">Create or edit a Team</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.team.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.team.color" for="field_color">Color</label>
                    <input type="text" class="form-control" name="color" id="field_color"
                           formControlName="color"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.team.flag" for="field_flag">Flag</label>
                    <input type="text" class="form-control" name="flag" id="field_flag"
                           formControlName="flag"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.team.sport" for="field_sport">Sport</label>
                    <select class="form-control" id="field_sport" name="sport" formControlName="sportId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sportOption.id" *ngFor="let sportOption of sports; trackBy: trackById">{{ sportOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="jhipsterSampleApplicationApp.team.league" for="field_leagues">League</label>
                    <select class="form-control" id="field_leagues" multiple name="leagues" formControlName="leagues">
                        <option [ngValue]="getSelected(editForm.get('leagues')!.value, leagueOption)" *ngFor="let leagueOption of leagues; trackBy: trackById">{{ leagueOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
