<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="match">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.match.detail.title">Match</span> {{ match.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.match.timeOfMessage">Time Of Message</span></dt>
                <dd>
                    <span>{{ match.timeOfMessage }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.match.matchId">Match Id</span></dt>
                <dd>
                    <span>{{ match.matchId }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.match.matchDate">Match Date</span></dt>
                <dd>
                    <span>{{ match.matchDate }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.match.cornerSending">Corner Sending</span></dt>
                <dd>
                    <span>{{ match.cornerSending }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.match.sport">Sport</span></dt>
                <dd>
                    <div *ngIf="match.sportId">
                        <a [routerLink]="['/sport', match.sportId, 'view']">{{ match.sportId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.match.region">Region</span></dt>
                <dd>
                    <div *ngIf="match.regionId">
                        <a [routerLink]="['/region', match.regionId, 'view']">{{ match.regionId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.match.league">League</span></dt>
                <dd>
                    <div *ngIf="match.leagueId">
                        <a [routerLink]="['/league', match.leagueId, 'view']">{{ match.leagueId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.match.homeTeam">Home Team</span></dt>
                <dd>
                    <div *ngIf="match.homeTeamId">
                        <a [routerLink]="['/team', match.homeTeamId, 'view']">{{ match.homeTeamId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.match.awayTeam">Away Team</span></dt>
                <dd>
                    <div *ngIf="match.awayTeamId">
                        <a [routerLink]="['/team', match.awayTeamId, 'view']">{{ match.awayTeamId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/match', match.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
